.flexbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.title {
  margin-bottom: 20px;
}

app-graphic-title {
  font-size: 25px;
}

.informatives-squares {
  display: flex;
  justify-content: space-between;
  max-width: 800px;
  margin-bottom: 30px;
}

.flex-items {
  flex: 1;
  margin: 0 10px;
}

.chart-and-button-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Align items to the left */
  width: 100%;
  max-width: 800px;
}

.line-chart {
  flex: 1;
}

.return-button {
  margin-top: 40px;
}


@media (max-width: 650px) {
  .informatives-squares {
    flex-direction: column;
    align-items: center;
  }

  .flex-items {
    margin: 10px 0;
  }
}