p {
  resize: both;
  margin: auto;
}

.centered {
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.title {
  @extend .centered;
  margin-top: 45px
}


app-graphic-title {
  font-size: 25px;
}


.informatives-squares {
  margin-top: 18px;
  display: flex;
  @extend .centered;
}

.flex-items {
  font-size: 16px;  
  margin-left: 10px;
  margin-right: 10px;
}

