.container {
  display: flex;
  flex-direction: column;
  max-width: 100%;
}

.centered {
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

app-graphic-title {
  width: max-content;
}

.informatives-squares {
  display: flex;
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
}
