<div>
  <h2 class="centered">Olympic games app</h2>
  <hr />
  <p>
    Cette application fait une rétrospective des médailles gagnées par chaques
    pays lors des précédents jeux olympiques.
  </p>
  <p>
    Un premier graphique présente le nombre total de médailles gagnées par
    chaque pays dans tous les JOs. Lorsqu'on clique sur un pays dans ce
    graphique, on voit des informations détaillées sur le pays sélectionné.  
  </p>
  <p>
    ainsi qu'un graphique représentant le nombre de médailles obtenues à chaque participation
  </p>
  <div>
    <div class="title">
      <app-graphic-title title="Medals per Country" />
    </div>
    <div class="informatives-squares">
      <app-informative-square class="flex-items" header="Number of JOs" [number]="numberOfJO" />
      <app-informative-square class="flex-items" header="Number of countries" [number]="numberOfCountries" />
    </div>
    <app-pie-chart />
  </div>
</div>
