::ng-deep .ngx-charts-tooltip {
  background-color: blue !important; /* Change the background color to blue */
  color: white !important; /* Change the text color to white */
  border-radius: 5px; /* Optional: Add rounded corners */
  padding: 10px; /* Optional: Add padding */
}

.medal-icon {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}